/*font-family: "Alegreya Sans", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 65px;
}

body{
    min-height: 100vh;  /*  this property for 'footer' element */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sora';
    background-color: black;
}

h2{
    color: rgb(220, 215, 215);
}

/* ------------------- nav -----------------------------------------------*/

nav{
    background: black;
    height: 68px;
    width: 100%;
    position: fixed;
    z-index: 10; /* Higher z-index to stay on top */
}

.connection{
    line-height: 68px;
    color: black;
    margin-left: 60px;
    padding: 7px;
    background-color: #ffc200;
    border-radius: 7px;
    transition: all ease 0.1s;
}

.connection i{
    margin-left: 5px;
}

.connection:hover{
    background-color: black;
    border: 1px solid #ffc200;
    color: rgb(220, 215, 215);
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 68px;
    margin: 0 20px;
}

nav ul li a{
    color : rgb(220, 215, 215);
    font-size: 20px;
    padding: 7px 13px;
}

a:hover{
    color: #ffc200;
    transition: 0.5s;
}

.checkbtn{
    font-size: 30px;
    color: #ffc200;
    float: right;
    line-height: 68px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media (max-width: 952px){

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 700px){
    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 50%;
        height: 50%;
        top: 60px;
        left: -50%;
        text-align: center;
        border-radius: 0 15px 15px 0;
        transition: all ease .5s;
        border: 1px solid #ffc200;
        border-left: none;
        background-color: black;
    }

    nav ul li{
        display: block;
        margin: 45px;
        line-height: 45px;
    }

    nav ul li a{
        color: rgb(220, 215, 215);
        font-size: 20px;
    }

    a:hover{
        color: #ffc200;
    }

    #check:checked ~ ul{
        left: 0;
    }

}

@media (max-width: 430px) {
    .connection{
        margin-left: 30px;
    }
}


/*---------------------------------------------FOOTER----------------------------------------*/

.foot{
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(220, 215, 215);
}

.foot p{
    margin: 10px 30px 10px 30px;
}

@media (max-width: 430px) {
    .foot{
        font-size: 10px;
    }
}

/*_________________________MAIN--------------------*/
main{
    padding-top: 100px;
}


/*ABOUT SECTION*/

#about{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    padding-top: 70px;
    position: relative; /* Positioning to control z-index */
    z-index: 1;
    background-size: cover;
}

.about_image{
    width: 200px;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    margin: 10px;
    background-color: black;
    border-radius: 50%;
}

.about_image img{
    width: 100%;
    height: 100%;
}

.about_details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.about_name_about{
    width: 100%;
}

.about_name{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 400;
    position: relative; /* Positioning to respect z-index */
    z-index: 1; /* Ensures it doesn't go above nav */
}

.nam{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

#name_1st{
    color: rgb(220, 215, 215);
}

.about_name p{
    color: transparent;
    overflow: hidden;
    width: 100%;
    padding: 20px;
}

.about_about{
    padding: 20px;
    text-align: justify;
    width: 100%;
    color: rgb(220, 215, 215);
}

#name_2nd{
    color: #ffc200;
    margin-left: 5px;
}

#name_2nd:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid #ffc200;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}


@media (max-width: 765px) {
    .about_details{
        width: 100%;
    }

    .about_name{
        width: 100%;
    }
}


/*Resume section*/
.resume{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 10px 0;
    padding: 15px;
}

.resume a{
    border: 3px solid rgb(220, 215, 215);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 215, 215);
    padding: 15px;
    transition: all ease 0.2s;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 10px;
}

.resume a i{
    margin-right: 10px;
}

.resume a:hover{
    color: #ffc200;
    border-color: #ffc200;
    scale: 1.1;
}

/*-----------------PROJECT SECTION------------------------*/

.headings{
    margin-top:10px;
    padding: 10px 15px 10px 60px;
    font-size: 35px;
    color: #ffc200;
}

#Project{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.box{
    width: 200px;
    height: 217px;
    padding: 10px;
    margin: 15px;
    border: 2px solid rgb(220, 215, 215);
    border-radius: 10px;
    transition: all ease 0.2s;
}

.box:hover{
    scale: 1.2;
    cursor: pointer;
    border-color: #ffc200;
}

.box-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}

.box-content h2{
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffc200;
    font-weight: 300;
}

.box-img{
    height: 100px;
    width: 100px;
    background-size: cover;
    margin-bottom: 10px;
    transition: all ease 0.2s;
    border-radius: 10px;
}

.box-img:hover{
    scale: 1.2;
    cursor: pointer;
}

.box-tech{
    width: 100%;display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.box-tech p{
    border: 1px solid #ffc200;
    border-radius: 3px;
    color: rgb(220, 215, 215);
    padding: 3px;
    font-size: 10px;
    margin-left: 5px;
    text-align: center;
}

.more_projects{
    display: flex;
    flex-wrap: wrap;
}

.more_projects a{
    width: 100%;
    text-align: left;
    color: rgb(220, 215, 215);
    margin: 10px 0 10px 0;
}

.more_projects a:hover{
    color: #ffc200;
}

#box5:hover{
    cursor: default;
}


/*----------------- SkIllsss Section-------------------*/
.skills{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Sora', sans-serif;
    margin: 25px 0 20px 0;
}

.skill{
    padding: 20px;
    height: 150px;
    width: 120px;
    transition: all ease 0.2s;
}

.skill:hover{
    scale: 1.2;
}

.skill img{
    height: 80%;
    width: 100%;
}

.skill p{
    font-size: 2vh;
    margin: 0;
    text-align: center;
    color: rgb(220, 215, 215);
}


/*--------------CONTACT SECTION ___________-------------------*/

.contact{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.contact_form{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input_box{
    width: 90%;
    height: 40px;
    padding-left: 10px;
    margin: 15px;
    border: 1px solid #ffc200;
    border-radius: 10px;
    background-color: black;
    color: rgb(220, 215, 215);
}

#message_box{
    height: 100px;
    resize: none;
    padding-top: 15px;
}

.input_box::placeholder{
    color: white;
}

#sub_btn{
    line-height: 0;
    height: 40px;
    font-weight: 600;
    margin-left: 20px;
}

@media (max-width: 430px) {
    .contact_form{
        width: 300px;
    }
}

/*social links*/

.socail_links{
    width: 200px;
}

.socail_links p{
    width: 90%;
    margin: 20px 5px 20px 5px;
    text-align: center;
    border: 2px solid rgb(220, 215, 215);
    padding: 10px;
    transition: all ease 0.2s;
}

.socail_links p a{
    color: #ffc200;
    transition: all ease 0.2s;
}

/* .socail_links p a:hover{
    color: rgb(220, 215, 215);
} */

.socail_links p a i{
    margin-left: 10px;
}

.socail_links p:hover{
    border-color: #ffc200;
}


@media (max-width: 630px) {
    .socail_links{
        margin-top: 50px;
    }
}



/* Social links hover style  */

#p1 a:hover{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>') , auto;
}

#p2 a:hover{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>') , auto;
}

#p3 a:hover{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>') , auto;
}

#p4 a:hover{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 48 48" stroke="white" stroke-width="3"><path d="M 32 6 C 26.568583 6 22.160643 10.388731 22.042969 15.792969 C 17.240727 15.216998 14.113589 13.421507 12.195312 11.652344 C 10.067982 9.6903754 9.3945312 7.9472656 9.3945312 7.9472656 A 1.50015 1.50015 0 0 0 6.8007812 7.5996094 C 6.8007812 7.5996094 5 10 5 13.5 C 5 15.500985 5.6317952 16.981554 6.3847656 18.236328 C 6.3570276 18.223338 6.1699219 18.158203 6.1699219 18.158203 A 1.50015 1.50015 0 0 0 4.0058594 19.636719 C 4.0058594 19.636719 4.5832039 23.856843 8.5507812 26.941406 L 8.1367188 27.044922 A 1.50015 1.50015 0 0 0 7.1972656 29.244141 C 7.1972656 29.244141 7.8700527 30.382221 9.2792969 31.580078 C 10.11485 32.290298 11.34227 33.023169 12.789062 33.701172 C 11.012271 34.35044 8.362818 35 4.5 35 A 1.50015 1.50015 0 0 0 3.3710938 37.488281 C 3.3710938 37.488281 4.5173251 38.751002 6.7832031 39.849609 C 9.0490812 40.948217 12.539474 42 17.5 42 C 26.219697 42 32.484656 37.817151 36.394531 32.515625 C 40.304407 27.214099 42 20.861111 42 16 C 42 15.691547 41.980739 15.387437 41.953125 15.085938 C 44.064371 13.051602 44.856626 11.522235 44.894531 11.447266 C 45.084531 11.066266 45.01375 10.608688 44.71875 10.304688 C 44.42475 9.9996875 43.969031 9.9137969 43.582031 10.091797 L 43.419922 10.166016 C 43.280922 10.230016 43.141953 10.294422 43.001953 10.357422 C 43.408953 9.7084219 43.730125 9.014875 43.953125 8.296875 C 44.077125 7.900875 43.943234 7.4669375 43.615234 7.2109375 C 43.287234 6.9549375 42.835469 6.9275312 42.480469 7.1445312 C 41.258221 7.8873594 40.086652 8.40739 38.867188 8.7558594 C 37.072578 7.0534724 34.656873 6 32 6 z M 32 9 C 35.883178 9 39 12.116822 39 16 C 39 20.138889 37.445593 26.035901 33.980469 30.734375 C 30.515344 35.432849 25.280303 39 17.5 39 C 13.7348 39 11.230189 38.318942 9.3535156 37.582031 C 11.319341 37.276755 13.011947 36.869367 14.228516 36.398438 C 16.338182 35.581792 17.476563 34.638672 17.476562 34.638672 A 1.50015 1.50015 0 0 0 16.863281 32.044922 C 14.140556 31.364241 12.394328 30.263307 11.298828 29.345703 L 12.863281 28.955078 A 1.50015 1.50015 0 0 0 13.039062 26.099609 C 9.7939415 24.851486 8.4312292 23.086373 7.734375 21.607422 C 8.5823538 21.782967 9.3718961 22 10.5 22 A 1.50015 1.50015 0 0 0 11.169922 19.158203 C 11.169922 19.158203 8 17.7 8 13.5 C 8 12.745947 8.2088435 12.268355 8.3613281 11.697266 C 8.884507 12.400354 9.3156815 13.07859 10.160156 13.857422 C 12.734824 16.231954 16.990366 18.653154 23.419922 18.998047 A 1.50015 1.50015 0 0 0 25 17.5 L 25 16 C 25 12.116822 28.116822 9 32 9 z"></path></svg>') , auto;
}
